
__pycache__/__init__.cpython-37.pyc
__pycache__/PictureBuilder.cpython-37.pyc
__pycache__/remove_bd.cpython-37.pyc
Saves/
spectrograph_filters.pkl
spectrograph_last_dir.pkl
*.png
*.jpg
__pycache__/processing.cpython-37.pyc
spectrograph_parameters.pkl
__pycache__/processing.cpython-37.pyc
